# HackerEarth Machine Learning challenge: Will your employees leave you?

![Alt_txt](https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_b55178f3207d0d07be80140a41732c6f/hackerearth.png)

## **Problem statement**

Employees certainly are the most important asset of an organization. They are the ones working behind the scenes to ensure that your business functions seamlessly like a well-oiled machine. Hiring the best fit for an organization and ensuring that they stick with the company are two sides of the same coin. Employee attrition not only may lead to a minor hitch in the system, but it is also a major cost to the organization.

The Human Resources department of your organization is determined to predict the employee attrition rate in advance and put a corrective plan of action in place. As a Machine Learning Specialist, the HR team has requested you to build a sophisticated model that predicts the organizationâ€™s attrition rate.

## **Dataset**

The dataset consists of various details such as gender and age of the employee, education and relationship status, pay scale, and other factors that may influence the attrition rate.

The benefits of practicing this problem by using Machine Learning techniques are as follows:

This challenge will encourage you to apply your Machine Learning skills to build models that can predict employee attrition rates.
This challenge will help you enhance your knowledge of regression. Regression is one of the basic building blocks of Machine Learning.

In [2]:
#Importing Required Number of Libraries
#Importing Required Libraries
#_______________________________________________________________________________________________________________
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style # for styling the graphs
#_______________________________________________________________________________________________________________
# style.available (to know the available list of styles)
style.use('ggplot') # chosen style
plt.rc('xtick',labelsize=13) # to globally set the tick size
plt.rc('ytick',labelsize=13) # to globally set the tick size
# To print multiple outputs together
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
# Change column display number during print
pd.set_option('display.max_columns', 500)
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')
# To display float with 2 decimal, avoid scientific printing
pd.options.display.float_format = '{:.2f}'.format
import seaborn as sns
import warnings
# To display float with 2 decimal, avoid scientific printing
pd.options.display.float_format = '{:.2f}'.format
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.model_selection import train_test_split
from tqdm.notebook import tqdm
#from reg_resampler import resampler
from imblearn.over_sampling import SMOTE

In [3]:
path='./Train_features.csv'
path1='./Test_features.csv'

In [4]:
train=pd.read_csv(path)
train

,Unnamed: 0,Gender,Age,Education_Level,Relationship_Status,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Hometown_counts,Unit_counts,Decision_skill_possess_counts,Attrition_rate,Avg_var_cat,Avg_growth_Age,Avg_growth_education,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,AVG_age_post_level,Avg_units_growth,Gender_growth,Gender_Payscale,Gender_Relationship_worklife,Avg_decision_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,0,0,42.00,4,1,4.00,4,33,1,1,7.00,2,3.00,4,0.75,1.87,2.00,4,5,3,1523,1394,1756,0.18,3.67,47.71,47.14,44.11,28.00,4,2,39.93,46.56,47.16,6.02,2.40,47.18,46.26,5.88,3.00,13.02
1,1,1,24.00,3,0,5.00,4,36,0,3,6.00,2,4.00,3,-0.96,-0.45,2.00,3,5,3,1736,1173,1755,0.07,3.00,47.20,47.24,46.59,18.00,9,6,39.76,46.63,47.27,6.00,2.38,47.16,45.72,5.98,2.44,12.88
2,2,0,58.00,3,1,27.00,3,51,0,2,8.00,2,1.00,4,-0.96,-0.45,3.00,3,8,3,565,193,1756,0.09,3.33,47.26,47.24,51.11,24.00,6,4,38.77,46.09,47.71,6.02,2.40,47.18,45.23,6.00,2.50,13.02
3,3,0,26.00,3,0,4.00,3,56,1,3,8.00,2,1.00,3,-1.82,-0.45,0.00,3,7,3,2070,344,1736,0.07,3.00,49.17,47.24,46.56,24.00,9,6,39.76,48.31,47.11,6.02,2.37,46.59,50.29,6.10,2.56,13.42
4,4,0,31.00,1,1,5.00,4,62,1,3,2.00,3,3.00,1,0.75,-0.45,2.00,2,8,2,1736,1173,1756,0.18,1.67,46.83,46.58,46.59,2.00,3,9,39.76,46.63,47.11,6.02,2.40,47.18,46.62,5.90,3.00,13.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6995,0,23.00,5,1,4.00,1,20,1,2,6.00,3,3.00,1,0.75,-0.45,2.00,3,7,3,1523,706,1736,0.78,2.33,45.32,46.66,45.67,30.00,10,6,38.77,47.30,47.71,6.02,2.40,46.59,47.21,6.02,2.07,13.42
6996,6996,0,44.00,1,1,16.00,2,59,0,2,4.00,3,3.00,2,-0.10,-2.78,2.00,4,8,4,2070,680,1755,0.11,3.33,46.71,46.58,41.46,4.00,2,6,38.77,47.75,47.71,6.02,2.40,47.16,48.54,5.94,2.00,12.65
6997,6997,0,49.00,3,0,10.00,1,59,1,2,3.00,2,4.00,2,-0.10,-0.45,2.00,4,8,3,1736,1394,1753,0.78,3.00,46.56,47.24,53.92,9.00,6,4,38.77,46.56,47.71,6.02,2.37,47.33,46.66,6.10,2.75,13.35
6998,6998,0,47.00,3,1,24.00,1,21,1,5,8.00,0,2.00,4,0.75,1.87,2.00,3,6,3,1106,943,1736,0.42,3.33,46.65,47.24,40.50,24.00,15,0,39.18,46.72,47.45,6.02,2.40,46.59,43.85,6.26,2.20,13.42
6999,6999,0,58.00,3,1,22.00,2,74,0,4,5.00,2,3.00,3,-0.10,-1.61,3.00,4,5,3,1523,1394,1753,0.09,3.33,47.26,47.24,50.75,15.00,12,8,39.72,46.56,46.52,6.02,2.40,47.33,46.66,6.10,2.00,13.35

In [5]:
test=pd.read_csv(path1)
test

,Unnamed: 0,Gender,Age,Education_Level,Relationship_Status,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Hometown_counts,Unit_counts,Decision_skill_possess_counts,Avg_var_cat,Avg_growth_Age,Avg_growth_education,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,AVG_age_post_level,Avg_units_growth,Gender_growth,Gender_Payscale,Gender_Relationship_worklife,Avg_decision_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,0,0,32.00,5,0,7.00,4,30,1,5,4.00,2,1.00,3,-0.96,-0.45,2.00,1,8,4,1736,680,1756,2.67,45.78,46.98,39.00,20.00,25,10,39.77,47.75,46.73,6.06,2.36,46.53,49.24,5.91,4.00,12.87
1,1,1,65.00,2,0,41.00,2,72,1,1,1.00,2,1.00,4,-0.96,0.71,1.00,2,8,2,2070,1394,1753,2.67,49.49,45.96,72.00,2.00,2,2,41.11,46.85,45.67,6.06,2.41,47.62,47.88,6.01,2.00,13.66
2,2,1,52.00,3,1,21.00,3,25,0,1,8.00,3,1.00,4,-0.10,0.71,2.00,1,9,3,1736,943,1753,2.67,43.58,46.69,41.00,24.00,3,3,41.11,46.97,45.67,6.06,2.35,47.62,48.14,6.23,2.75,13.66
3,3,1,50.00,5,0,11.00,4,28,1,1,2.00,0,4.00,3,-0.10,0.71,2.00,2,8,3,1106,212,1755,2.67,46.33,46.98,38.25,10.00,5,0,41.11,49.29,45.67,6.06,2.41,46.92,48.77,6.23,4.00,12.89
4,4,0,44.00,3,1,12.00,4,47,1,3,2.00,2,4.00,4,1.61,0.71,2.00,2,7,4,1523,680,1756,3.33,48.79,46.69,50.79,6.00,9,6,38.91,47.75,47.25,6.06,2.41,46.53,49.24,5.91,3.33,12.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,0,32.00,3,0,3.00,3,38,1,3,6.00,2,2.00,1,-0.10,0.71,1.00,4,7,4,1523,943,1753,3.00,45.78,46.69,44.62,18.00,9,6,38.91,46.97,47.25,6.06,2.36,47.62,48.14,6.23,2.75,13.33
2996,2996,0,38.00,2,0,10.00,2,57,1,4,9.00,2,1.00,3,0.75,0.71,3.00,4,8,3,1523,212,1756,3.33,46.43,45.96,51.33,18.00,8,8,38.88,49.29,47.86,6.06,2.36,46.53,48.50,5.81,2.00,12.87
2997,2997,0,60.00,4,0,35.00,1,69,0,2,9.00,3,3.00,3,-1.82,-0.45,0.00,4,8,4,2070,1173,1755,3.67,45.56,47.23,71.50,36.00,8,6,40.36,46.46,46.47,6.06,2.36,46.92,47.62,6.04,1.00,13.55
2998,2998,0,51.00,1,1,23.00,1,30,0,2,6.00,3,1.00,5,0.75,-0.45,2.00,3,9,2,1736,1394,1736,3.33,47.59,47.37,54.67,6.00,2,6,40.36,46.85,46.47,6.06,2.41,46.47,46.62,6.35,1.50,13.06
2999,2999,0,45.00,1,0,12.00,4,70,1,2,8.00,4,4.00,3,0.75,-0.45,2.00,2,8,5,1523,943,1753,3.33,47.36,47.37,50.75,8.00,2,8,40.36,46.97,46.47,6.06,2.36,47.62,48.14,6.23,4.00,13.33

In [6]:
train.drop(['Unnamed: 0','Gender','Education_Level','Relationship_Status','Travel_Rate','VAR3', 'VAR4', 'VAR5', 'VAR6',
       'VAR7','Decision_skill_possess_counts','AVG_age_post_level','Gender_Payscale','Avg_decision_growth','Gender_Relationship_worklife',
'Avg_growth_education','Avg_var_cat','Hometown_counts','Post_Level','Time_since_promotion'],1,inplace=True)
test.drop(['Unnamed: 0','Gender','Education_Level','Relationship_Status','Travel_Rate','VAR3', 'VAR4', 'VAR5', 'VAR6',
       'VAR7','Decision_skill_possess_counts','AVG_age_post_level','Gender_Payscale','Avg_decision_growth','Gender_Relationship_worklife',
'Avg_growth_education','Avg_var_cat','Hometown_counts','Post_Level','Time_since_promotion'],1,inplace=True)

In [7]:
train

,Age,Time_of_service,growth_rate,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,Unit_counts,Attrition_rate,Avg_growth_Age,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,Avg_units_growth,Gender_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,42.00,4.00,33,7.00,2,3.00,4,0.75,1394,0.18,47.71,44.11,28.00,4,2,46.56,47.16,46.26,5.88,3.00,13.02
1,24.00,5.00,36,6.00,2,4.00,3,-0.96,1173,0.07,47.20,46.59,18.00,9,6,46.63,47.27,45.72,5.98,2.44,12.88
2,58.00,27.00,51,8.00,2,1.00,4,-0.96,193,0.09,47.26,51.11,24.00,6,4,46.09,47.71,45.23,6.00,2.50,13.02
3,26.00,4.00,56,8.00,2,1.00,3,-1.82,344,0.07,49.17,46.56,24.00,9,6,48.31,47.11,50.29,6.10,2.56,13.42
4,31.00,5.00,62,2.00,3,3.00,1,0.75,1173,0.18,46.83,46.59,2.00,3,9,46.63,47.11,46.62,5.90,3.00,13.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,23.00,4.00,20,6.00,3,3.00,1,0.75,706,0.78,45.32,45.67,30.00,10,6,47.30,47.71,47.21,6.02,2.07,13.42
6996,44.00,16.00,59,4.00,3,3.00,2,-0.10,680,0.11,46.71,41.46,4.00,2,6,47.75,47.71,48.54,5.94,2.00,12.65
6997,49.00,10.00,59,3.00,2,4.00,2,-0.10,1394,0.78,46.56,53.92,9.00,6,4,46.56,47.71,46.66,6.10,2.75,13.35
6998,47.00,24.00,21,8.00,0,2.00,4,0.75,943,0.42,46.65,40.50,24.00,15,0,46.72,47.45,43.85,6.26,2.20,13.42
6999,58.00,22.00,74,5.00,2,3.00,3,-0.10,1394,0.09,47.26,50.75,15.00,12,8,46.56,46.52,46.66,6.10,2.00,13.35

In [8]:
test

,Age,Time_of_service,growth_rate,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,Unit_counts,Avg_growth_Age,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,Avg_units_growth,Gender_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,32.00,7.00,30,4.00,2,1.00,3,-0.96,680,45.78,39.00,20.00,25,10,47.75,46.73,49.24,5.91,4.00,12.87
1,65.00,41.00,72,1.00,2,1.00,4,-0.96,1394,49.49,72.00,2.00,2,2,46.85,45.67,47.88,6.01,2.00,13.66
2,52.00,21.00,25,8.00,3,1.00,4,-0.10,943,43.58,41.00,24.00,3,3,46.97,45.67,48.14,6.23,2.75,13.66
3,50.00,11.00,28,2.00,0,4.00,3,-0.10,212,46.33,38.25,10.00,5,0,49.29,45.67,48.77,6.23,4.00,12.89
4,44.00,12.00,47,2.00,2,4.00,4,1.61,680,48.79,50.79,6.00,9,6,47.75,47.25,49.24,5.91,3.33,12.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,32.00,3.00,38,6.00,2,2.00,1,-0.10,943,45.78,44.62,18.00,9,6,46.97,47.25,48.14,6.23,2.75,13.33
2996,38.00,10.00,57,9.00,2,1.00,3,0.75,212,46.43,51.33,18.00,8,8,49.29,47.86,48.50,5.81,2.00,12.87
2997,60.00,35.00,69,9.00,3,3.00,3,-1.82,1173,45.56,71.50,36.00,8,6,46.46,46.47,47.62,6.04,1.00,13.55
2998,51.00,23.00,30,6.00,3,1.00,5,0.75,1394,47.59,54.67,6.00,2,6,46.85,46.47,46.62,6.35,1.50,13.06
2999,45.00,12.00,70,8.00,4,4.00,3,0.75,943,47.36,50.75,8.00,2,8,46.97,46.47,48.14,6.23,4.00,13.33

## Random Forest Regressor

In [9]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn import model_selection
from sklearn import metrics
from sklearn import ensemble



SEED = 42

FOLD=10
X=train.drop('Attrition_rate',1)
y=(train['Attrition_rate'])

Xt=test.copy()
test_preds = np.zeros(len(Xt))

# k-fold cross validation
scores=list()
kf = KFold(n_splits=FOLD, shuffle=True,random_state=SEED)

# enumerate splits

for train_idx, test_idx in tqdm(kf.split(X, y)):
    # get data
    X_train, y_train = X.iloc[train_idx, :], y[train_idx]
    X_test, y_test = X.iloc[test_idx, :], y[test_idx]
    test=Xt
    # fit model
    model =RandomForestRegressor(random_state=9,bootstrap=True,max_depth=5,max_features='sqrt',min_samples_leaf=4,
                                min_samples_split=2,n_estimators=300)
    model.fit(X_train,np.log1p(y_train))
    # evaluate model
    yhat = np.expm1((model.predict(X_test)))
    test_preds += np.expm1((model.predict(test)))/FOLD
    acc=100*max(0,1-np.sqrt(mean_squared_error(y_test,yhat)))
    


    
    # store score
    scores.append(acc)
    print('> ', acc)
    
# summarize model performance
# summarize model performance
mean_s= np.mean(scores)
print('Mean: %.3f' % (mean_s))

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  80.05371370516026

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  82.59246253485195

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  80.2028958473134

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  80.23834574966727

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  81.95842698279819

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  81.24104675958876

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  81.5710630334897

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  81.60920215241208

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  82.4397475384598

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=4,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=300, n_jobs=None, oob_score=False,
                      random_state=9, verbose=0, warm_start=False)

>  82.1101120361561

Mean: 81.402

## Ridge Regression

In [10]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn import model_selection
from sklearn import metrics
from sklearn import ensemble



SEED = 42

FOLD=10
X=train.drop('Attrition_rate',1)
y=(train['Attrition_rate'])

Xt=test.copy()
test_preds = np.zeros(len(Xt))

# k-fold cross validation
scores=list()
kf = KFold(n_splits=FOLD, shuffle=True,random_state=SEED)

# enumerate splits

for train_idx, test_idx in tqdm(kf.split(X, y)):
    # get data
    X_train, y_train = X.iloc[train_idx, :], y[train_idx]
    X_test, y_test = X.iloc[test_idx, :], y[test_idx]
    test=Xt
    # fit model
    model =Ridge(alpha=500)
    model.fit(X_train,np.log1p(y_train))
    # evaluate model
    yhat = np.expm1((model.predict(X_test)))
    test_preds += np.expm1((model.predict(test)))/FOLD
    acc=100*max(0,1-np.sqrt(mean_squared_error(y_test,yhat)))
    


    
    # store score
    scores.append(acc)
    print('> ', acc)
    
# summarize model performance
# summarize model performance
mean_s= np.mean(scores)
print('Mean: %.3f' % (mean_s))

HBox(children=(FloatProgress(value=1.0, bar_style='info', max=1.0), HTML(value='')))

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  80.14038549334944

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  82.54854047928842

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  80.1545270280664

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  80.19001583863836

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  81.98979610605687

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  81.25993045854614

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  81.57568680272485

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  81.63457708096279

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  82.44339073783942

Ridge(alpha=500, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

>  82.10977801942967

Mean: 81.405

In [234]:
#feat_imp = pd.DataFrame({'columns':X.columns,'feature_importance':model.feature_importances_})
#feat_imp

In [295]:
train.columns
#['Gender','Education_Level','Relationship_Status','Travel_Rate','VAR3', 'VAR4', 'VAR5', 'VAR6',
#       'VAR7','Decision_skill_possess_counts','AVG_age_post_level','Gender_Payscale','Avg_decision_growth','Gender_Relationship_worklife',
#'Avg_growth_education','Avg_var_cat','Hometown_counts','Post_Level','Time_since_promotion']

Index(['Age', 'Time_of_service', 'growth_rate', 'Pay_Scale',
       'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1', 'VAR2',
       'Unit_counts', 'Attrition_rate', 'Avg_growth_Age', 'Avg_Service_growth',
       'Education_Pay_scale', 'Education_Post_Level', 'Post_Compensation',
       'Avg_units_growth', 'Gender_growth', 'Avg_growth_Decision_Units',
       'Avg_Pay_Decision_Units', 'Avg_time_promotion', 'Gender_Time_service'],
      dtype='object')

In [296]:
test_preds=pd.DataFrame(test_preds)

In [297]:
test=pd.read_csv('./Test.csv')
test.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.00,5,Single,Springfield,R&D,Conceptual,7.00,4,30,1,5,4.00,type2,1.00,3,-0.96,-0.45,2.00,1,8,4
1,EID_9658,M,65.00,2,Single,Lebanon,IT,Directive,41.00,2,72,1,1,1.00,type2,1.00,4,-0.96,0.71,1.00,2,8,2
2,EID_22203,M,52.00,3,Married,Springfield,Sales,Directive,21.00,3,25,0,1,8.00,type3,1.00,4,-0.10,0.71,2.00,1,9,3
3,EID_7652,M,50.00,5,Single,Washington,Marketing,Analytical,11.00,4,28,1,1,2.00,type0,4.00,3,-0.10,0.71,2.00,2,8,3
4,EID_6516,F,44.00,3,Married,Franklin,R&D,Conceptual,12.00,4,47,1,3,2.00,type2,4.00,4,1.61,0.71,2.00,2,7,4

In [298]:
id_cols=test['Employee_ID']

In [299]:
test_preds.columns=['Attrition_rate']

In [300]:
test_preds

      Attrition_rate
0               0.19
1               0.18
2               0.17
3               0.22
4               0.18
...              ...
2995            0.18
2996            0.18
2997            0.18
2998            0.15
2999            0.18

[3000 rows x 1 columns]

In [301]:
submit=pd.concat([id_cols,test_preds],1)
submit.to_csv('ridge_tune_submit_3.csv')

In [312]:
train

,Age,Time_of_service,growth_rate,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,Unit_counts,Attrition_rate,Avg_growth_Age,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,Avg_units_growth,Gender_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,42.00,4.00,33,7.00,2,3.00,4,0.75,1394,0.18,47.71,44.11,28.00,4,2,46.56,47.16,46.26,5.88,3.00,13.02
1,24.00,5.00,36,6.00,2,4.00,3,-0.96,1173,0.07,47.20,46.59,18.00,9,6,46.63,47.27,45.72,5.98,2.44,12.88
2,58.00,27.00,51,8.00,2,1.00,4,-0.96,193,0.09,47.26,51.11,24.00,6,4,46.09,47.71,45.23,6.00,2.50,13.02
3,26.00,4.00,56,8.00,2,1.00,3,-1.82,344,0.07,49.17,46.56,24.00,9,6,48.31,47.11,50.29,6.10,2.56,13.42
4,31.00,5.00,62,2.00,3,3.00,1,0.75,1173,0.18,46.83,46.59,2.00,3,9,46.63,47.11,46.62,5.90,3.00,13.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,23.00,4.00,20,6.00,3,3.00,1,0.75,706,0.78,45.32,45.67,30.00,10,6,47.30,47.71,47.21,6.02,2.07,13.42
6996,44.00,16.00,59,4.00,3,3.00,2,-0.10,680,0.11,46.71,41.46,4.00,2,6,47.75,47.71,48.54,5.94,2.00,12.65
6997,49.00,10.00,59,3.00,2,4.00,2,-0.10,1394,0.78,46.56,53.92,9.00,6,4,46.56,47.71,46.66,6.10,2.75,13.35
6998,47.00,24.00,21,8.00,0,2.00,4,0.75,943,0.42,46.65,40.50,24.00,15,0,46.72,47.45,43.85,6.26,2.20,13.42
6999,58.00,22.00,74,5.00,2,3.00,3,-0.10,1394,0.09,47.26,50.75,15.00,12,8,46.56,46.52,46.66,6.10,2.00,13.35

In [313]:
test

,Age,Time_of_service,growth_rate,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,Unit_counts,Avg_growth_Age,Avg_Service_growth,Education_Pay_scale,Education_Post_Level,Post_Compensation,Avg_units_growth,Gender_growth,Avg_growth_Decision_Units,Avg_Pay_Decision_Units,Avg_time_promotion,Gender_Time_service
0,32.00,7.00,30,4.00,2,1.00,3,-0.96,680,45.78,39.00,20.00,25,10,47.75,46.73,49.24,5.91,4.00,12.87
1,65.00,41.00,72,1.00,2,1.00,4,-0.96,1394,49.49,72.00,2.00,2,2,46.85,45.67,47.88,6.01,2.00,13.66
2,52.00,21.00,25,8.00,3,1.00,4,-0.10,943,43.58,41.00,24.00,3,3,46.97,45.67,48.14,6.23,2.75,13.66
3,50.00,11.00,28,2.00,0,4.00,3,-0.10,212,46.33,38.25,10.00,5,0,49.29,45.67,48.77,6.23,4.00,12.89
4,44.00,12.00,47,2.00,2,4.00,4,1.61,680,48.79,50.79,6.00,9,6,47.75,47.25,49.24,5.91,3.33,12.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,32.00,3.00,38,6.00,2,2.00,1,-0.10,943,45.78,44.62,18.00,9,6,46.97,47.25,48.14,6.23,2.75,13.33
2996,38.00,10.00,57,9.00,2,1.00,3,0.75,212,46.43,51.33,18.00,8,8,49.29,47.86,48.50,5.81,2.00,12.87
2997,60.00,35.00,69,9.00,3,3.00,3,-1.82,1173,45.56,71.50,36.00,8,6,46.46,46.47,47.62,6.04,1.00,13.55
2998,51.00,23.00,30,6.00,3,1.00,5,0.75,1394,47.59,54.67,6.00,2,6,46.85,46.47,46.62,6.35,1.50,13.06
2999,45.00,12.00,70,8.00,4,4.00,3,0.75,943,47.36,50.75,8.00,2,8,46.97,46.47,48.14,6.23,4.00,13.33

In [254]:
#train.to_csv('Best_Features_train.csv')
#test.to_csv('Best_Features_test.csv')